.organizers.endo {
    display: -js-flex;
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
    -webkit-justify-content: flex-start;
    justify-content: flex-start;
    -webkit-flex-wrap: nowrap;
    flex-wrap: nowrap;
}
.organizers.endo a {
    display: block;
    margin-right: 1em;
    width: 122px; /* half of CRF logo */
    height: 122px;
}
.organizers.endo a > img {
    display: block;
    width: 122px;
    height: 122px;
}
.organizers.crf {
    margin-top: 1.5em;
}
.organizers.crf a {
    display: block;
    width: 244px;
    height: 58px;
    margin-top: 2em;
    margin-left: 1em;
}
.organizers.crf a > img {
    display: block;
    width: 244px;
    height: 58px;
}
@media only screen and (max-width: 314px) {
    .organizers.endo a > img {
        height: auto;
        width: calc(50vw - 35px); /* half of CRF logo */
    }
    .organizers.crf a > img {
        height: auto;
        width: calc(100vw - 70px);
    }
}
